.App{
    font-family: sans-serif;
    margin: 0 100px;
}

.add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

input{
    margin: 10px 0;
}
button{
    margin: 10px;
}

.allVideos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container{
    background-color: rgb(231, 229, 229);
    padding: 8px;
    border-radius: 15px;
    margin:25px 0;
    position: relative;
}

.image{
    border-radius: 8px;
}

.misc,
.cname,
.tname{
    margin: 5px 0px;
}

.cname,
.misc{
    color: rgb(108, 108, 108);
}

.delete,
.edit {
  position: absolute;
  padding: 1.5px 4px;
  border-radius: 4px;
  border: none;
  top: 5px;
}

.delete {
  right: 5px;
}
.edit {
  left: 5px;
}

.delete:hover,
.edit:hover {
  color: white;
}

.delete:hover {
  background-color: red;
}

.edit:hover {
  background-color: rgb(79, 79, 255);
}